@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

body {
	font: Lato, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 16px; /*Should increase to 20px on screens 768 px and wider*/
	font-weight: 300;
	background-color: #E9EAEE;
}

h1, h2, h3, h4, h5, h6 {
	font: Raleway, "Helvetica Neue", Helvetica, sans-serif;
	/*2nd level headings should be color:#BC6026*/
}

@media screen and (min-width: 768px) {
	/* 2nd level headings should be align-content:center;
	and have a blank space below them equal to the height of current font(em) */
}

svg {
	/* same height as current font(em) */
}